.admin-panel {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
    width: 40%;
    margin: 20px auto;
    background: transparent;
    border-radius: 10px;
    color: white;
}

.admin-panel table {
    width: 100%;
    border-collapse: collapse;
}

.admin-panel td {
    padding: 10px;
    vertical-align: middle;
}

.admin-panel h3 {
    font-size: 18px;
    font-weight: bold;
    margin: 0;
    text-align: left;
}

.admin-btn-container {
    display: flex;
    gap: 10px;
}

.admin-btn {
    font-family: 'Roboto', sans-serif;
    background: linear-gradient(135deg, #ad8bea 0%, #6a36bf 100%);
    color: white;
    border: none;
    padding-top: 10px;
    line-height: 50px;
    width: 150px;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
    border-radius: 6px;
    cursor: pointer;
    display: inline-block;
    text-decoration: none;
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

a.admin-btn {
    background-color: #0f0f0f;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
}

a{margin-top: 0}



.admin-btn:hover {
    background-color: #8734b8;
    box-shadow: 0 6px 15px rgba(167, 68, 220, 0.4);
}
