/* ---------- global styling ---------- */
body,
html {
  color: black;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background-color: rgba(11, 11, 16, 0.92);
}

/* ---------- nav styling ---------- */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  text-align: center;
  font-weight: bold;
  background-color: transparent;
  padding: 1em 2em;
  z-index: 100;
}

/* left section (Home button) */
nav .nav-left {
  text-align: left;
}

/* center section (Tickets, Movies, Admin) */
nav .nav-center {
  display: flex;
  justify-content: center;
  gap: 40px; /* Spacing between center buttons */
}

/* Right Section (Login) */
nav .nav-right {
  text-align: right;
}

/* Styling for all nav links */
nav a {
  color: #a944dc;
  text-decoration: none;
  text-transform: uppercase;
  padding: 10px 20px;
  letter-spacing: 0.1em;
  font-size: 22px;
  transition: background-color 0.3s ease;
}

nav a:hover {
  background-color: rgb(68, 68, 68);
  color: white;
  border-radius: 5px;
}

nav a.active {
  background-color: transparent;
  color: #a944dc;
}

/* ---------- View Content Styling ---------- */
.view-content {
  display: none;
  padding: 2em;
  color: white;
  margin-top: 70px;
  text-align: center;
}

.view-content.active {
  display: block;
}

/* Adjust view-content margin on larger screens */
@media (min-width: 600px) {
  .view-content {
    padding: 4em 2em;
    margin-top: 80px;
  }
}
